
/* resets*/
*{
    padding: 0;
    margin: 0;
}
/* header bar styling*/
header.main-header{
    top: 0;
    width: 100%;
    display: flex;
    text-align: center;
}
/* colors and shapes the nav bar*/
header nav{
    background-color: rgb(219, 58, 115);
    display: flex  ;
    justify-content: space-between;
    height: 35px;
    width: 100%;
    margin: 0 1px 2px 1px;
}

/* nav bar text */
header nav h2{
    color: rgb(11, 242, 242);
    font-family: fantasy;
    justify-content: start;
    display: flex;
    margin: 4px 2%;
}
/* nav buttons*/
header nav a{
    color: rgb(174, 255, 255);
    text-decoration: none;
    text-align: center;
    margin: 4px 1%;
}
/* sizes avatar img*/
.img-size{
    display: flex;
    width: 20%;
    height: 20%;
    float: right;
}
/* sizes the graphic*/
aside{
    height: 300px;
    position: absolute;
    width: 30%;
}
/* the primary animation specs*/
.animation1{
    height: 2.5%;
    width: 20%;
    animation-duration: 7s;
    animation-iteration-count: infinite;
    animation-name: animation;
    animation-direction: alternate;
    position: relative;
    animation-timing-function: ease-in-out;
}
/* next 40 id's just control the timing of the animation*/
#animation-2{
    animation-delay: .5s;
}
#animation-3{
        animation-delay: 1s;
}
#animation-4{
    animation-delay: 1.5s;
}
#animation-5{
    /* left: 40%; */
    animation-delay: 2s;
}
#animation-6{
    animation-delay: 2.5s;
}
#animation-7{
    animation-delay: 3s;
}
#animation-8{
    animation-delay: 3.5s;
}
#animation-9{
    animation-delay: 4s;
}
#animation-10{
    animation-delay: 4.5s;
}
#animation-11{
    animation-delay: 5s;
}
#animation-12{
    animation-delay: 5.5s;
}
#animation-13{
    animation-delay: 6s;
}
#animation-14{
    animation-delay: 6.5s;
}
#animation-15{
    animation-delay: 7s;
}
#animation-16{
    animation-delay: 7.5s;
}
#animation-17{
    animation-delay: 8s;
}
#animation-18{
    animation-delay: 8.5s;
}
#animation-19{
    animation-delay: 9s;
}
#animation-20{
    animation-delay: 9.5s;
}
#animation-21{
    animation-delay: 10s;
}
#animation-22{
    animation-delay: 10.5s;
}
#animation-23{
    animation-delay: 11s;
}
#animation-24{
    animation-delay: 11.5s;
}
#animation-25{
    animation-delay: 12s;
}
#animation-26{
    animation-delay: 12.5s;
}
#animation-27{
    animation-delay: 13s;
}
#animation-28{
    animation-delay: 13.5s;
}
#animation-29{
    animation-delay: 14s;
}
#animation-30{
    animation-delay: 14.5s;
}
#animation-31{
    animation-delay: 15s;
}
#animation-32{
    animation-delay: 15.5s;
}
#animation-33{
    animation-delay: 16s;
}
#animation-34{
    animation-delay: 16.5s;
}
#animation-35{
    animation-delay: 17s;
}
#animation-36{
    animation-delay: 17.5s;
}
#animation-37{
    animation-delay: 18s;
}
#animation-38{
    animation-delay: 18.5s;
}
#animation-39{
    animation-delay: 19s;
}
#animation-40{
    animation-delay: 19.5s;
}
/* sizes the upper part of the page*/
#height{
    height: 500px;
}
/* creates the flexbox for the about me*/
.flexbox{
    display: flex;
    background-color: rgb(31, 236, 236);
    margin: 100px 30px;
}
/* creates the flexbox for the application links*/
.past-work{
    background-color:rgb(225, 126, 220);
    padding: 15px;
    margin: 30px 20px 30px 20px;
    height: 300px;
    display: flex;
    flex-wrap: wrap;
    }
 /* creates space around the 3 imgs*/
.img-size1{
height: 200px;
display: flex;
flex-grow: 2;
margin: 15px;
padding: 15px;
transform: rotate(20deg);
background-color: rgb(31, 236, 236);
}
/* creates the flexbox for the 3 smaller imgs*/
div.past-work{
    display: flex;
}
/* creates the size and background color for the larger img*/
.img-size2{
    height: 400px;
    width: 90%;
    display: flex;
    flex-grow: 2;
    margin: 15px;
    padding: 15px;
    background-color: rgb(31, 236, 236);
    transform: rotate(-5deg);
}
/* creates the footer size and background color*/
#footer-set {
    bottom: 0;
    width: 100%;
    height: 40px;
    background-color: rgb(219, 58, 115);
    text-decoration: none;
    color: rgb(31, 236, 236);
}
/* styles the text in the footer*/
footer a{
    text-decoration: none;
    color: rgb(31, 236, 236);
    margin: 10px;
    font-weight: 600;
}
/* the color change and movement elements of the animation*/
 @keyframes animation{
    from {left: 0px} to {left: 90%}
    0% {background-color: rgb(5, 162, 162);}
    10% {background-color: rgb(11, 196, 242);}   
    40% {background-color: rgb(58, 103, 208);}
    70% {background-color: rgb(219, 58, 115);}
    100% {background-color: rgb(11, 242, 242);}
} 
/* responsive design elements*/
@media screen and (min-width: 1200px) {
    body {
        background-color:mistyrose
    }
}
@media screen and (max-width: 1200px) {
    aside {
        transform: rotate(25deg);

    }
}
@media screen and (max-width: 1200px) {
    header.main-header,  header nav, header nav a, header nav h2{
        background-color: rgb(11, 242, 242);
        color: rgb(219, 58, 115);
    }
}